#section_three {
	background: $green;
	width:100%;
	padding-bottom: 180px;
}



.sec_three_inner {
	max-width:1900px;
	margin-left:auto;
	margin-right:auto;
	padding:170px 75px 0;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	span.team_title {
		color:#fff;
		text-transform: uppercase;
		font-size:101px;
		font-family: $oswaldsemobold;
		float:right;
		margin-right:100px;
		letter-spacing: 4px;
	}
}


.team_wrapper {
	clear:both;
	display: flex;
	justify-content: space-between;
	padding:88px 0 0;
// 	flex-wrap: wrap;
}


.single_team {
	text-align: center;
	img {
		display: inline-block;
		margin-left:auto;
		margin-right:auto;
	}
/*
	justify-content: flex-end;
	flex-basis: 30.33333%;
*/
	.team_pic {
		display: block;
		margin-bottom:18px;
	}
	span.name {
		color:#fff;
		text-transform: uppercase;
		display: inline-block;
		font-family: $oswaldsemobold;
		font-size: 27px;
		border-bottom:1px solid #fff;
		padding-bottom:10px;
		margin-bottom:7px;
		letter-spacing: 1px;
	}
	span.position {
		display: block;
		color:#fff;
		text-transform: uppercase;
		font-family: 17px;
		font-family: $latobold;
		letter-spacing: 2px;
		line-height: 21px;
	}
}



@media screen and (max-width: 1850px) {
	
	
	.sec_three_inner {
		span.team_title {
			float:none;
			display: block;
			text-align: center;
			margin-right:0;
		}
	}
	
	
	
	.team_wrapper {
		flex-wrap:wrap;
		max-width:1300px;
		margin-left:auto;
		margin-right:auto;
		justify-content: center;
	}
	
	.single_team {
		flex-basis:25%;
		flex-shrink:0;
		margin-bottom:65px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1360px) {
	
	
	
	.team_wrapper {
		max-width:1000px;
	}
	
	.single_team {
		flex-basis:33.33333%;
	}

	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	.team_wrapper {
		max-width:650px;
	}
	
	.single_team {
		flex-basis:50%;
	}
	
	.sec_three_inner {
		padding: 100px 45px 0;
		span.team_title {
			font-size: 90px;
		}
	}
	
	
	#section_three {
		padding-bottom: 80px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#section_three {
    padding-bottom: 33px;
	}
	
	
	.sec_three_inner {
		padding: 55px 75px 0;
		span.team_title {
			font-size: 80px;
		}
	}
	
	
	.team_wrapper {
		padding: 55px 0 0;
	}
	
	
} /* Media Query */
