#section_five {
	width:100%;
	background: $bluedark;
	padding:170px 0;
}


.sec_five_inner {
	max-width:1630px;
	margin-left:auto;
	margin-right:auto;
	padding-left:70px;
	padding-right:70px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	
}



.sec_five_content {
	span.sec_five_header {
		color:#fff;
		text-transform: uppercase;
		font-family: $oswaldsemobold;
		font-size:101px;
		line-height: 99px;
		position: relative;
		margin-bottom:30px;
		display: block;
		max-width: 500px;
		&:before {
			content: url(#{$themePath}images/donation.svg);
			display: block;
			width:127px;
			height:116px;
			position: absolute;
			top: -29px;
			right: 52px;
		}
	}
	color:#fff;
	font-family: $lato;
	font-size:22px;
	line-height: 28px;
	letter-spacing: 1px;

	max-width: 500px;
	float:left;
	p,ul {
		margin-bottom:30px;
	}
	ul {
		margin-left:30px;
	}
	a {
		color:$green;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	a.donate_button {
		background: #6fb75e;
		color:#fff;
		font-size: 22px;
		text-transform: uppercase;
		font-family: $latobold;
		letter-spacing: 2px;
		padding:16px 65px;
		margin-top:12px;
		display: inline-block;
		transition: all .2s ease-in-out;
		text-decoration: none;
		&:hover {
			background: #48a232;
		}
	}
}


img.photo {
	float:right;
	transform: rotate(1deg);
	margin:21px 0 0;
	max-width:100%;
	height:auto;
}


@media screen and (max-width: 1540px) {
	
	
	

	
	.sec_five_content {
		width:580px;
		
	}
	
	img.photo {
		width:calc(100% - 580px);
	}
	
	

	
	
} /* Media Query */


@media screen and (max-width: 1490px) {
	
	
	img.photo {
		margin-top:65px;
	}

	
	
} /* Media Query */


@media screen and (max-width: 1330px) {
	

	
	.sec_five_content {
		width:100%;
		float:none;
		max-width:100%;
		max-width:700px;
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		span.sec_five_header {
			margin-left:auto;
			margin-right:auto;
			&:before {
				right: -42px;
			}
		}
	}
	
	img.photo {
		float:none;
		margin-left:auto;
		margin-right:auto;
		margin-top:80px;
		display: block;
		width:100%;
		max-width: 500px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	
	#section_five {
  	padding: 120px 0;
  }
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	#section_five {
		padding: 66px 0;
	}
	
	.sec_five_content {
		span.sec_five_header {
			font-size: 80px;
			line-height: 81px;
			max-width: 369px;
			&:before {
				width: 93px;
				height: 86px;
			}
		}
	} 
	
	
	.sec_five_inner {
		padding-left:26px;
		padding-right:26px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 520px) {
	
	
	#section_five {
		padding: 66px 0 96px;
	}
	
	.sec_five_content {
		p {
			font-size:19px;
		}
		a.donate_button {
			font-size: 20px;
		}
		span.sec_five_header {
			font-size: 60px;
			line-height: 60px;
			&:before {
				position: static;
				margin-left:auto;
				margin-right:auto;
				margin-bottom:10px;
			}
		}
	} 
	
	
	img.photo {
		margin-top: 53px;
	}
	
	
	
	
	
} /* Media Query */

